In [1]:
i=1                     #initializing

while i<=5:       # condition
    print("data science")
    i=i+1

data science
data science
data science
data science
data science

In [2]:
i=5                 #initializing

while i>=1:       # condition
    print("data science")
    i=i-1

data science
data science
data science
data science
data science

In [3]:
i=1                     #initializing

while i<=5:       # condition
    print("data science",i)
    i=i+1

data science 1
data science 2
data science 3
data science 4
data science 5

In [5]:
i=5                 #initializing

while i>=1:       # condition
    print("data science",i)
    i=i-1

data science 5
data science 4
data science 3
data science 2
data science 1

In [21]:
i=1
while i<=5:
    print("data science")
    j=1
    while j<=4:
        print("technology")
        j=j+1
    i=i+1
    print()

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [26]:
i=1
while i<=5:
    print("data science",end=" ")
    j=1
    while j<=4:
        print("technology",end=" " )
        j=j+1
    i=i+1
    print()

data science technology technology technology technology
data science technology technology technology technology
data science technology technology technology technology
data science technology technology technology technology
data science technology technology technology technology

In [27]:
i=1 
while i<=4 :
    j=0
    while j<=3:
        print(i*j,end=" ")
        j+= 1
        print()
        i=i+1

0
2
6
12

for loop

In [28]:
name="nit"
for i in name :
    print(i)

n
i
t

In [30]:
name1=[1,2,3,4,"hello"]
for i in name1:
    print(i)

1
2
3
4
hello

In [32]:
for i in [1,9,4,5,"hi"]: print(i)

1
9
4
5
hi

In [33]:
range(5)

range(0, 5)

In [34]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [35]:
for i in range(2,9):
    print(i)

2
3
4
5
6
7
8

In [36]:
for i in range(1,10,3):
    print(i)

1
4
7

In [37]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

divisible by 5

In [38]:
for i in range(1,51):
    if i%5==0:
        print(i)

5
10
15
20
25
30
35
40
45
50

divisible by 3

In [39]:
for i in range (1,31):
    if i % 3==0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [40]:
for i in range(1,51):
    if i%3==0 and i%5==0 :
        print(i)

15
30
45